<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AAX.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>APP.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>AU.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>All.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>RTAS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>VST2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>VST3.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4F20EEC8132C69FE0030E34C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F3AE17812C0E5E2001FD7A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F78DAF113B643600032E0F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F7F5C4213E95EC8002918FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F9828AA140A9EB700F3FCC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4FB600121567CB0A0020189A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4FD16A0813B63081001D0217</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
